<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SQLProjectAeroport.Properties.Settings.Transport_AerianConnectionString"
            connectionString="Data Source=DESKTOP-IKGLTSA\SPARTA;Initial Catalog=Transport_Aerian;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>